@charset "utf-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	opacity: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: normal;
}
.tf {
	font-family: 'Open Sans', sans-serif;
	background-repeat: no-repeat;
	background-position: right top;
	background: tranparent;
	background-color: rgba(0,0,0,0) !important;
}
.tf:focus {
    outline:none;
}
#visitor_background {
	z-index: 1;
	position: fixed;
}
#visitor_content {
	z-index: 2;
	position: absolute;
}
.left_aligned {
	text-align: left;
}
.visitor_table_header_title_common {
	font-family: 'Montserrat', sans-serif;
}
.font_montserrat{
	font-family: 'Montserrat', sans-serif;
}
.visitor_table_header_title {
	margin-top: 25px;
}
.visitor_table_header_title2 {
	margin-top: 20px;
}
.font_uppercase {
	text-transform: uppercase;
}
.color_black{
	color:#000;	
}
.color_rosa {
	color: #308E90;
}
.color_celeste {
	color: #308E90;
}
.color_azul{
	color:#308E90;	
}
.color_blanco{
	color:#FFF;	
}
.background_rosado_claro{
	background-color:#308E90;
}
.background_celeste {
	background-color:#308E90;	
}
.background_horizontal_repeated {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.background_vertical_repeated {
}
.no_decor {
	text-decoration: none;
}
.display_inline_top {
	display: inline-block;
	vertical-align: top;
}
.display_inline_top:before {
	display: inline-block;
	vertical-align: top;
}
.bottom_blue_bordered {
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #41bbec;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.center_aligned{
	text-align:center;
}
.right_aligned{
	text-align:right;
}
#message{
	text-align:left;
}
#message_area{
	text-align:left;
}
#message2{
	text-align:left;
}
#message_area2{
	text-align:left;
}
.alert_icon{
	position:relative;
	bottom:-12px;	
} 