.body-background{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#ebebeb;
	z-index:0;
}

.header{
	position:relative;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	top:0px;
	left:0px;
	width:100%;
	background-color:#ffffff;
	border:#ebebeb 0px solid;
	color:#6E6E6E;
}
/* Configurcion de padding para agregar a las clases */
.pad-10{ padding:10px; }
.pad-15{ padding:15px; }
.pad-20{ padding:20px; }
.pad-25{ padding:25px; }
.pad-t-10{ padding-top: 10px; }
.pad-t-15{ padding-top: 15px; }
.pad-t-20{ padding-top: 20px; }
.pad-t-25{ padding-top: 25px; }
.pad-l-10{ padding-left: 10px; }
.pad-l-15{ padding-left: 15px; }
.pad-l-20{ padding-left: 20px; }
.pad-l-25{ padding-left: 25px; }
.pad-r-10{ padding-right: 10px; }
.pad-r-15{ padding-right: 15px; }
.pad-r-20{ padding-right: 20px; }
.pad-r-25{ padding-right: 25px; }
.pad-b-10{ padding-bottom: 10px; }
.pad-b-15{ padding-bottom: 15px; }
.pad-b-20{ padding-bottom: 20px; }
.pad-b-25{ padding-bottom: 25px; }
.s-top-1{ margin-top:1px; }
.s-top-2{ margin-top:2px; }
.s-top-3{ margin-top:3px; }
.s-top-4{ margin-top:4px; }
.s-top-5{ margin-top:5px; }

.gray-bottom{
	background-color:#ffffff;
	border-bottom:#ebebeb 5px solid;
	margin-bottom:40px;
	z-index:100;
}
.text-align-right{
	text-align:right;
}

.full-container{
	position:absolute;
	top:0px;
	width:900px;
}

.background-top{
	position:fixed;
	height:150px;
	width:100%;
	top:0px;
	left:0px;
	background-color:#bcbcbc;
	z-index:0;
}

.background-bottom{
	position:fixed;
	bottom:0px;
	left:0px;
	height:75px;
	width:100%;
	background-color:#bcbcbc;
	z-index:0;
}

.panel-body{
	color: #000000;
}

.sombra{
	background:#ffffff;
	position:absolute;
	opacity:.5;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;
	display:none;
}

.derecha{
	text-align:right;
}
